<!--
<p>{{clientObj | json}}</p>
<ul>
    @for(item of userList$ | async; track $index) {
        <li>{{item.username}}</li>
    }
</ul>
-->
<app-alert [alertType]="'Succes'" [message]="'Hi From Client Page'"></app-alert>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List - {{currentDate | date:'dd-MM-YYYY'}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Company Name</th>
                                    <th>Person Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientList; track $index) {
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.companyName | uppercase}}</td>
                                        <td>{{item.contactPersonName}}</td>
                                        <td>{{item.contactNo}}</td>
                                        <td>{{item.city}}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                            <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-success">
                {{clientObj.clientId === 0 ? 'New Client' : 'Edit Client'}}
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Person Name</label>
                            <input type="text" #personName="ngModel" required name="contactPersonName" [(ngModel)]="clientObj.contactPersonName" class="form-control">
                            <div class="text-danger">
                                @if (personName.touched) {
                                    @if (personName?.errors?.['required']) {
                                        <span>This is Required</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">Company Name</label>
                            <input type="text" name="companyName" [(ngModel)]="clientObj.companyName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Address</label>
                            <textarea class="form-control" name="address"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" name="city" [(ngModel)]="clientObj.city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Pin Code</label>
                            <input type="text" name="pincode" [(ngModel)]="clientObj.pincode" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">State</label>
                            <input type="text" name="state" [(ngModel)]="clientObj.state" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Employee Strength</label>
                            <input type="text" name="employeeStrength" [(ngModel)]="clientObj.employeeStrength" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Number</label>
                            <input type="tel" name="contactNo" [(ngModel)]="clientObj.contactNo" class="form-control" pattern="^+212[0-9]{9}" title="Number Format +212***********"> <br><br>
                        </div>
                        <div class="col-6">
                            <label for="">gst Number</label>
                            <input type="text" name="gstNo" [(ngModel)]="clientObj.gstNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">reg Number</label>
                            <input type="text" name="regNo" [(ngModel)]="clientObj.regNo" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center pt-1">
                            <button type="button" class="btn btn-secondary" (click)="onResetForm()">Reset</button>
                        </div>
                        <div class="col-6 text-center pt-1">
                            <button type="submit" class="btn btn-success" [disabled]="!form.valid" (click)="onSaveClient()">
                                {{clientObj.clientId == 0 ? 'Save' : 'Update'}}
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
