<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Company Name</th>
                                    <th>Person Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientList; track $index) {
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.companyName}}</td>
                                        <td>{{item.contactPersonName}}</td>
                                        <td>{{item.contactNo}}</td>
                                        <td>{{item.city}}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                            <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" #personName="ngModel" required name="contactPersonName" [(ngModel)]="clientObj.contactPersonName" class="form-control">
                            <div class="text-danger">
                                @if (personName.touched) {
                                    @if (personName?.errors?.['required']) {
                                        <span>This is Required</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="text" name="companyName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Expected End Date</label>
                            <textarea class="form-control" name="address"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Contact Name</label>
                            <input type="text" name="city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Mobile</label>
                            <input type="text" name="pincode" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Email</label>
                            <input type="text" name="state" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employee Count</label>
                            <input type="text" name="employeeStrength" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Costing</label>
                            <input type="text" name="contactNo" class="form-control" pattern="^+212[0-9]{9}" title="Number Format +212***********"> <br><br>
                        </div>
                        <div class="col-6">
                            <label for="">Project Description</label>
                            <input type="text" name="gstNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Client</label>
                            <select class="form-control">
                                <option value="">Select Client</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Lead By</label>
                            <select class="form-control">
                                <option value="">Select Employee</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center pt-1">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center pt-1">
                            <button class="btn btn-success" [disabled]="!form.valid" (click)="onSaveClient()">
                                {{clientObj.clientId == 0 ? 'Save' : 'Update'}}
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
