<p>master works!</p>
<div class="row">
    <div class="col-12 test-center">
        <div class="btn-group">
            <button type="button" (click)="changeTab('ROLES')" class="btn " 
            [ngClass]="inputComp=='ROLES' ? 'btn-success' : 'btn-primary'">ROLES</button>
            <button type="button" (click)="changeTab('DESIGNATION')" class="btn " 
            [ngClass]="inputComp=='DESIGNATION' ? 'btn-success' : 'btn-primary'">DESIGNATIONS</button>
        </div>   
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="inputComp == 'ROLES'">
        <app-roles></app-roles>
    </div>
    <div class="col-12" *ngIf="inputComp == 'DESIGNATION'">
        <app-designation></app-designation>
    </div>
</div>